@page
@using MyPortfolio.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-section">
    <div class="section-1">
        <div>
            <img src="../Images/pfp.jpg" alt="">
            <h1>Hola amigos</h1>
        </div>
        <div>
            <h1>Jordan Ramírez</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt, aperiam doloremque officiis ad
                ipsa accusantium aliquid nobis quo tempora ipsam est eius! Tempora delectus porro, ab excepturi
                accusamus enim?
            </p>
        </div>
    </div>
</div>
