@page
@model ProjectsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Proyectos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Technologies</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repo in Model.Repos)
        {
            <tr>
                <td>@repo.Name</td>
                <td>@repo.Description</td>
                <td>@repo.Language</td>
                <td><a class="project-link" href="@repo.HtmlUrl" target="_blank">Ver en GitHub</a></td>
            </tr>
        }
    </tbody>
</table>
