@page
@model MyPortfolio.Pages.SkillsModel
@{
    ViewData["Title"] = "Habilidades";
}
<div class="presentation">
    <img src="~/images/pf.jpg" alt="Foto de perfil" class="profile-img" />
    <h1>Jordan Ramírez</h1>
    <p>I'm a computer engineer</p>
    <div class=" icons">
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-square-x-twitter"><a href=""></a></i>
        <i class="fa-brands fa-square-instagram"><a href=""></a></i>
        <i class="fa-brands fa-square-github"><a href=""></a></i>
    </div>
    <a href="/Contact" class="btn btn-primary btn-lg">Hire Me</a>
</div>
<div class="about_me">
    <h2>About Me</h2>
    <p>
        Hi, I'm Jordan Ramirez, a passionate software developer with experience in C#, .NET, and web development. I
        am dedicated to creating efficient solutions and constantly improving my technical and professional skills.
    </p>
    <p>
        My goal is to contribute to innovative projects that drive technological and professional growth, always
        seeking excellence in every project in which I participate. I aspire to be part of a team where I can
        continue learning and contributing with my knowledge.
    </p>
</div>
<div class="skills">
    <section class="skills-card">
        <h2>Technical Skills</h2>
        <ul>
            @foreach (var skill in Model.TechnicalSkills)
            {
                <li>@skill</li>
            }
        </ul>
    </section>
    <section class="skills-card">
        <h2>Professional Skills</h2>
        <ul>
            @foreach (var skill in Model.ProfessionalSkills)
            {
                <li>@skill</li>
            }
        </ul>
    </section>
</div>
<div class="services">
    <div class="services-card">
        <i class="fa-brands fa-safari"></i>
        <h2>Web Desing</h2>
        <p>
            Modern, attractive and fully responsive websites.
        </p>
    </div>

    <div class="services-card">
        <i class="fa-solid fa-mobile"></i>
        <h2>Mobile Apps</h2>
        <p>Intuitive and functional mobile applications for iOS and Android.</p>
    </div>

    <div class="services-card">
        <i class="fa-solid fa-wallet"></i>
        <h2>E-Commerse</h2>
        <p>Complete e-commerce solutions and payment gateways.</p>
    </div>
</div>
